.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

img {
    width: 12em;
    height: auto;   
    padding-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
}

.cards {
    margin-top: 2em;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}